name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: 1.9.4
          otp-version: 22.2

      - name: Check formatting
        run: mix format --check-formatted

      - name: Cache Dependencies
        id: mix-cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('mix.lock') }}

      - name: Install Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Cache Build
        id: build-cache
        uses: actions/cache@v4
        with:
          path: |
            _build
            !_build/*/lib/signal_tower
          key: ${{ runner.os }}-mix-${{ hashFiles('mix.lock') }}

      - name: Compile Dependencies
        run: mix deps.compile

      - name: Compile and check for warnings
        run: mix compile --warnings-as-errors

      - name: Run Tests
        run: mix test

      - name: Run dialyzer static code analysis
        run: mix dialyzer
